<template>
   <header>
      <div class="header-area">
          <div class="main-header ">
              <div class="header-top ">
                  <div class="container-fluid">
                      <div class="col-xl-12">
                          <div class="row d-flex justify-content-lg-between align-items-center">
                              <div class="header-info-mid">
                                  <div class="logo">
                                      <a href="index.html"><img src="assets/img/logo/logo3.png" alt=""></a>
                                  </div>
                              </div>
                              <div class="header-info-right d-flex align-items-center">
                                  <ul>
                                      <li><a class="btn3 btn-primary btn-sm" href="#">Masuk</a></li>
                                      <li><a class="btn3 btn-primary btn-sm" href="#">Buat Tulisan</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="header-bottom  header-sticky">
                  <div class="container-fluid">
                      <div class="row align-items-center">
                          <div class="col-12">
                              <div class="logo2">
                                  <a href="index.html"><img src="assets/img/logo/logo3.png" alt=""></a>
                              </div>
                              <div class="logo3 d-block d-sm-none">
                                  <a href="index.html"><img src="assets/img/logo/logo-mobile.png" alt=""></a>
                              </div>
                              <div class="main-menu text-center d-none d-lg-block">
                                  <nav>
                                      <ul id="navigation">
                                          <li><a href="category.html">News</a></li>
                                          <li><a href="category.html">Entertaiment</a></li>
                                          <li><a href="category.html">Bisnis</a></li>
                                          <li><a href="category.html">Otomotif</a></li>
                                          <li><a href="category.html">Food & Travel</a></li>
                                          <li><a href="category.html">Sport</a></li>
                                          <li><a href="category.html">Tekno & Sains</a></li>
                                          <li><a href="category.html">Lainnya</a></li>
                                      </ul>
                                  </nav>
                              </div>
                          </div>
                          <div class="col-12">
                              <div class="mobile_menu d-block d-lg-none"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <main>
      <!-- <div class="nes-slider-area pt-30 pb-80">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="news-slider-active">
                          <div class="single-news-slider">
                              <div class="news-img">
                                  <a href="category.html"><img src="assets/img/gallery/news-slider1.png" alt=""></a>
                              </div>
                          </div>
                          <div class="single-news-slider">
                              <div class="news-img">
                                  <a href="category.html"><img src="assets/img/gallery/news-slider2.png" alt=""></a>
                              </div>
                          </div>
                          <div class="single-news-slider">
                              <div class="news-img">
                                  <a href="category.html"><img src="assets/img/gallery/news-slider3.png" alt=""></a>
                              </div>
                          </div>
                          <div class="single-news-slider">
                              <div class="news-img">
                                  <a href="category.html"><img src="assets/img/gallery/news-slider4.png" alt=""></a>
                              </div>
                          </div>
                          <div class="single-news-slider">
                              <div class="news-img">
                                  <a href="category.html"><img src="assets/img/gallery/news-slider1.png" alt=""></a>
                              </div>
                          </div>
                          <div class="single-news-slider">
                              <div class="news-img">
                                  <a href="category.html"><img src="assets/img/gallery/news-slider2.png" alt=""></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
      <div class="top-post-area pb-15">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="section-tittle mb-35">
                          <h2>Top Posts</h2>
                      </div>
                  </div>
              </div>
              <div class="row justify-content-lg-between">
                  <div class="col-lg-8 col-md-8">

                      <div class="single-job-items mb-30">
                          <div class="job-items">
                              <div class="company-img">
                                  <a href="#"><img src="assets/img/gallery/top-psot1.png" alt=""></a>
                              </div>
                              <div class="job-tittle">
                                  <span>Trending</span>
                                  <a href="post_details.html">
                                      <h4>The pomelo case: scope of plant variety rights in China</h4>
                                  </a>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a placerat metus.
                                      Praesent semper vel libero vitae egestas. Cras et aliquet lectus, sed convallis
                                      est. Nulla quam augue, vehicula sit amet pulvinar a, vulputate sed nisi. Etiam
                                      varius hendrerit congue. Suspendisse urna mauris, vehicula vel eros id, lacinia
                                      sollicitudin felis....</p>
                              </div>
                          </div>
                      </div>

                      <div class="single-job-items mb-30">
                          <div class="job-items">
                              <div class="company-img">
                                  <a href="#"><img src="assets/img/gallery/top-psot2.png" alt=""></a>
                              </div>
                              <div class="job-tittle">
                                  <span>Trending</span>
                                  <a href="post_details.html">
                                      <h4>The pomelo case:scope of plant variety rights in China</h4>
                                  </a>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a placerat metus.
                                      Praesent semper vel libero vitae egestas. Cras et aliquet lectus, sed convallis
                                      est. Nulla quam augue, vehicula sit amet pulvinar a, vulputate sed nisi. Etiam
                                      varius hendrerit congue. Suspendisse urna mauris, vehicula vel eros id, lacinia
                                      sollicitudin felis....</p>
                              </div>
                          </div>
                      </div>

                      <div class="single-job-items mb-30">
                          <div class="job-items">
                              <div class="company-img">
                                  <a href="#"><img src="assets/img/gallery/top-psot3.png" alt=""></a>
                              </div>
                              <div class="job-tittle">
                                  <span>Trending</span>
                                  <a href="post_details.html">
                                      <h4>The pomelo case:scope of plant variety rights in China</h4>
                                  </a>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a placerat metus.
                                      Praesent semper vel libero vitae egestas. Cras et aliquet lectus, sed convallis
                                      est. Nulla quam augue, vehicula sit amet pulvinar a, vulputate sed nisi. Etiam
                                      varius hendrerit congue. Suspendisse urna mauris, vehicula vel eros id, lacinia
                                      sollicitudin felis....</p>
                              </div>
                          </div>
                      </div>

                      <div class="single-job-items mb-30">
                          <div class="job-items">
                              <div class="company-img">
                                  <a href="#"><img src="assets/img/gallery/top-psot4.png" alt=""></a>
                              </div>
                              <div class="job-tittle">
                                  <span>Trending</span>
                                  <a href="post_details.html">
                                      <h4>The pomelo case:scope of plant variety rights in China</h4>
                                  </a>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a placerat metus.
                                      Praesent semper vel libero vitae egestas. Cras et aliquet lectus, sed convallis
                                      est. Nulla quam augue, vehicula sit amet pulvinar a, vulputate sed nisi. Etiam
                                      varius hendrerit congue. Suspendisse urna mauris, vehicula vel eros id, lacinia
                                      sollicitudin felis....</p>
                              </div>
                          </div>
                      </div>

                      <div class="single-job-items mb-30">
                          <div class="job-items">
                              <div class="company-img">
                                  <a href="#"><img src="assets/img/gallery/top-psot5.png" alt=""></a>
                              </div>
                              <div class="job-tittle">
                                  <span>Trending</span>
                                  <a href="post_details.html">
                                      <h4>The pomelo case:scope of plant variety rights in China</h4>
                                  </a>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a placerat metus.
                                      Praesent semper vel libero vitae egestas. Cras et aliquet lectus, sed convallis
                                      est. Nulla quam augue, vehicula sit amet pulvinar a, vulputate sed nisi. Etiam
                                      varius hendrerit congue. Suspendisse urna mauris, vehicula vel eros id, lacinia
                                      sollicitudin felis....</p>
                              </div>
                          </div>
                      </div>
                      <div class="d-flex justify-content-center">
                          <a href="#" class=" btn4  btn-sm">Lihat Selanjutnya</a>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                      <div class="blog_right_sidebar">
                          <div class="google-add mb-40">
                              <img src="assets/img/gallery/Ad.png" alt="">
                          </div>
                          <aside class="single_sidebar_widget tag_cloud_widget">
                              <h4 class="widget_title">Tag Clouds</h4>
                              <ul class="list">
                                  <li>
                                      <a href="#">project</a>
                                  </li>
                                  <li>
                                      <a href="#">love</a>
                                  </li>
                                  <li>
                                      <a href="#">technology</a>
                                  </li>
                                  <li>
                                      <a href="#">travel</a>
                                  </li>
                                  <li>
                                      <a href="#">restaurant</a>
                                  </li>
                                  <li>
                                      <a href="#">life style</a>
                                  </li>
                                  <li>
                                      <a href="#">design</a>
                                  </li>
                                  <li>
                                      <a href="#">illustration</a>
                                  </li>
                              </ul>
                          </aside>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <section class="wantToWork-area gray-bg ">
          <div class="container">
              <div class="wants-wrapper w-padding2">
                  <div class="row align-items-center justify-content-between">
                      <div class=" col-lg-12">
                          <div class="wantToWork-caption wantToWork-caption2 text-center">
                              <h2>Banner iklan</h2>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <div class="latest-posts pt-80 pb-30">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="section-tittle mb-35">
                          <h2>Latest Posts</h2>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-8">
                      <div class="row">
                          <div class="col-lg-4">
                              <div class="single-baner-nw2 mb-30">
                                  <div class="banner-img-cap2">
                                      <div class="banner-img">
                                          <img src="assets/img/gallery/trend1.png" alt="">
                                      </div>
                                      <div class="banner-cap2">
                                          <p>Technology</p>
                                          <h3><a href="post_details.html">The pomelo case: scope of plant rights in
                                                  China</a>
                                          </h3>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4">
                              <div class="single-baner-nw2 mb-30">
                                  <div class="banner-img-cap2">
                                      <div class="banner-img">
                                          <img src="assets/img/gallery/trend2.png" alt="">
                                      </div>
                                      <div class="banner-cap2">
                                          <p>Technology</p>
                                          <h3><a href="post_details.html">The pomelo case: scope of plant rights in
                                                  China</a>
                                          </h3>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4">
                              <div class="single-baner-nw2 mb-30">
                                  <div class="banner-img-cap2">
                                      <div class="banner-img">
                                          <img src="assets/img/gallery/trend3.png" alt="">
                                      </div>
                                      <div class="banner-cap2">
                                          <p>Technology</p>
                                          <h3><a href="post_details.html">The pomelo case: scope of plant rights in
                                                  China</a>
                                          </h3>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4">
                              <div class="single-baner-nw2 mb-30">
                                  <div class="banner-img-cap2">
                                      <div class="banner-img">
                                          <img src="assets/img/gallery/trend2.png" alt="">
                                      </div>
                                      <div class="banner-cap2">
                                          <p>Technology</p>
                                          <h3><a href="post_details.html">The pomelo case: scope of plant rights in
                                                  China</a>
                                          </h3>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4">
                              <div class="single-baner-nw2 mb-30">
                                  <div class="banner-img-cap2">
                                      <div class="banner-img">
                                          <img src="assets/img/gallery/trend3.png" alt="">
                                      </div>
                                      <div class="banner-cap2">
                                          <p>Technology</p>
                                          <h3><a href="post_details.html">The pomelo case: scope of plant rights in
                                                  China</a>
                                          </h3>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 ">
                              <div class="single-baner-nw2 mb-30">
                                  <div class="banner-img-cap2">
                                      <div class="banner-img">
                                          <img src="assets/img/gallery/trend1.png" alt="">
                                      </div>
                                      <div class="banner-cap2">
                                          <p>Technology</p>
                                          <h3><a href="post_details.html">The pomelo case: scope of plant rights in
                                                  China</a>
                                          </h3>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="d-flex justify-content-center">
                          <a href="" class="btn4  btn-sm">Lihat Selanjutnya</a>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="blog_right_sidebar">
                          <aside class="single_sidebar_widget popular_post_widget">
                              <h3 class="widget_title">Recent Post</h3>
                              <div class="media post_item">
                                  <img src="assets/img/post/post_1.png" alt="post">
                                  <div class="media-body">
                                      <a href="single-blog.html">
                                          <h3>From life was you fish...</h3>
                                      </a>
                                      <p>January 12, 2019</p>
                                  </div>
                              </div>
                              <div class="media post_item">
                                  <img src="assets/img/post/post_2.png" alt="post">
                                  <div class="media-body">
                                      <a href="single-blog.html">
                                          <h3>The Amazing Hubble</h3>
                                      </a>
                                      <p>02 Hours ago</p>
                                  </div>
                              </div>
                              <div class="media post_item">
                                  <img src="assets/img/post/post_3.png" alt="post">
                                  <div class="media-body">
                                      <a href="single-blog.html">
                                          <h3>Astronomy Or Astrology</h3>
                                      </a>
                                      <p>03 Hours ago</p>
                                  </div>
                              </div>
                              <div class="media post_item">
                                  <img src="assets/img/post/post_4.png" alt="post">
                                  <div class="media-body">
                                      <a href="single-blog.html">
                                          <h3>Asteroids telescope</h3>
                                      </a>
                                      <p>01 Hours ago</p>
                                  </div>
                              </div>
                          </aside>
                      </div>
                  </div>
              </div>

          </div>
      </div>
      <section class="wantToWork-area gray-bg ">
          <div class="container">
              <div class="wants-wrapper w-padding2">
                  <div class="row align-items-center justify-content-between">
                      <div class=" col-lg-12">
                          <div class="wantToWork-caption wantToWork-caption2 text-center">
                              <h2>Banner iklan</h2>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <footer class="section footer noover">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-md-6 mb-20 mt-20">
                      <div class="widget clearfix">
                          <h3 class="widget-title">Logo Perusahaan</h3>
                          <div class="newsletter-widget">
                              <p>You can opt out of our newsletters at any time.<br> See our <a href="#">privacy
                                      policy</a>.</p>
                          </div>
                          <div class="footer-social">
                              <a href="#"><i class="fab fa-facebook"></i></a>
                              <a href="#"><i class="fab fa-github"></i></a>
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="#"><i class="fab fa-linkedin"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-2 col-md-6 mb-20 mt-20">
                      <div class="widget clearfix">
                          <h3 class="widget-title">Kategori</h3>
                          <div class="tags-widget">
                              <ul class="list-inline">
                                  <li><a href="#">News</a></li>
                                  <li><a href="#">Edukasi</a></li>
                                  <li><a href="#">Finance</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-2 col-md-6 mb-20 mt-20">
                      <div class="widget clearfix">
                          <h3 class="widget-title">Layanan</h3>
                          <div class="tags-widget">
                              <ul class="list-inline">
                                  <li><a href="#">Berbuat Baik</a></li>
                                  <li><a href="#">Pasang Mata</a></li>
                                  <li><a href="#">Adsmart</a></li>
                                  <li><a href="#">Forum</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-2 col-md-2 mb-20 mt-20">
                      <div class="widget clearfix">
                          <h3 class="widget-title">Informasi</h3>
                          <div class="list-widget">
                              <ul>
                                  <li><a href="#">Redaksiana</a></li>
                                  <li><a href="#">Pedoman Media Siber</a></li>
                                  <li><a href="#">Karir</a></li>
                                  <li><a href="#">Kotak Pos</a></li>
                                  <li><a href="#">Info Iklan</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-2 col-md-2 mb-20 mt-20">
                      <div class="widget clearfix">
                          <h3 class="widget-title">Jaringan Media </h3>
                          <div class="list-widget">
                              <ul>
                                  <li><a href="#">CNN Indonesia</a></li>
                                  <li><a href="#">CBNN Indonesia</a></li>
                                  <li><a href="#">Haibunda</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
  </main>
  <div id="back-top">
      <a title="Go to Top" @click="setToTop"> <i class="fas fa-arrow-up"></i></a>
  </div>
  <div id="search-engine">
      <a title="search" href="#"> <i class="fas fa-search"></i></a>
  </div>

</template>

<script setup>
function  setToTop() {
   $('body,html').animate({scrollTop: 0,},800);
   return false;
}
 
</script>